[submodule "sources/yaml-cpp"]
	path = source/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "sources/googletest"]
	path = source/googletest
	url = https://github.com/google/googletest.git
[submodule "sources/glfw"]
	path = source/glfw
	url = https://github.com/glfw/glfw.git
[submodule "sources/imgui"]
	path = source/imgui
	url = https://github.com/siposcsaba89/imgui.git
[submodule "source/jsoncpp"]
	path = source/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "source/eigen"]
	path = source/eigen
	url = https://gitlab.com/libeigen/eigen.git
